* {
    box-sizing: border-box;
}

.comment-form-wrapper {
    padding: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.comment-input {
    padding: 10px;
    resize: none;
    border: none;
}

.comment-input:focus {
    outline: none;
}

.form-submit-input {
    padding: 10px;
    font-weight: 600;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    transition: all .5s linear;
}

.form-submit-input:hover {
    border-radius: 10px;
    background-color: rgb(211, 211, 211);
    
}