body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.login-form-wrapper {
  background-color: aliceblue;
  padding: 20px;
  color: black;
}

.login-form-wrapper  h1{
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-group input {
  padding: 5px;
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid black;
  color: black;
  font-size: 1rem;
  z-index: 3;
}

.form-group input:focus {
  outline: none;
}

.login-form button {
  padding: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

.form-group label {
  position: absolute;
  z-index: 2;
  bottom: 5px;
  color: gray;
  transition: all 0.3s ease;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  bottom: 1.5rem;
}

