* {
    box-sizing: content-box;
}

.new-post-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: .5rem;
}

.new-post-form-group input,
.new-post-form-group textarea {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

.submit-button {
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}