* {
    box-sizing: border-box;
  }
  
#root {
    width: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.post-page-main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    width: 50%;
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.post-title {
    text-align: center;
}

.post-publishedAt {
    text-align: end;
}

.likes-section {
    border-bottom: 1px solid gray;
    padding: 10px;
}

.comments-section {
    border-bottom: 1px solid gray;
    padding: 10px;
}