* {
    box-sizing: border-box;
  }
  
#root {
    width: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.post-page-main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    width: 50%;
    margin-top: 2rem;
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 3px;
}

.post-title {
    margin: 0;
    text-align: center;
}


.post-publishedAt {
    border-top: 1px dashed gray;
    text-align: end;
    margin: 0;
    padding-top: 8px;
}

.likes-section {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.3rem;
    border-bottom: 2px solid gray;
    padding: 10px;
}

.like-button-wrapper {
    display: flex;
    cursor: pointer;
}

.feather-heart {
    transition: all 0.3s linear;
}

.feather-heart:hover {
    color: red;
}

.comments-section {
    border-bottom: 2px solid gray;
    padding: 10px;
}

.delete-post-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.delete-post-btn {
    background-color: rgb(204, 65, 65);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

